@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #e21313;
  --main-color2: #d32010;
  --second-color: #d9560a;
  --third-color: #d9c40a;
}

body {
  color: #ffffff;
  background-color: #0a0a0a;
  font-family: Roboto, Arial, Helvetica;
}
.header-bg{
  background-color: #0a0a0a55;
  backdrop-filter: blur(12px);
}
.h1-hero strong{
  background-image: linear-gradient(to right, #e21313, #d9560a);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.blur-red, .blur-orange{
  position: absolute;
  width: 500px;
  z-index: -1;
}
.blur-red{
  box-shadow: 0 0 1000px 50px var(--main-color);
}
.blur-orange{
  box-shadow: 0 0 1000px 50px var(--second-color);
}
.blur-tl{
  top: 16rem;
  left: 8rem;
}
.blur-br{
  bottom: 14rem;
  right: 7rem;
}
.blur-center{
  top: 50%;
  left: 35%;
}
.bgLinearRed{
  background: linear-gradient(45deg, #380202, #0a0a0a 50%);
}
.bgLinearOrange{
  background: linear-gradient(45deg, #422102, #0a0a0a 50%);
}
.bg-trainer{
  background: radial-gradient(circle, #380202, #0a0a0a);
}

.btn, .btn-big{
  background-color: var(--main-color);
  border-radius: 8px;
  transition: all 0.2s;
}
.btn:hover, .btn-big:hover{
  background-color: var(--main-color2);
}
.btn{
  font-size: 15px;
  padding: 8px 16px;
}
.btn-big{
  font-size: 18px;
  padding: 16px 32px;
  text-transform: uppercase;
}
.linkHeader {
  position: relative;
  cursor: pointer;
}
.linkHeader::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 4px;
  background: linear-gradient(to right, #e21313, #d9560a);
  transition: all 0.2s;
}
.linkHeader:hover::before {
  width: 100%;
  left: 0;
}
.hamburger{
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 36px;
}
.hamburger span{
  transition: all 0.5s;
}
.hamburger-active span:nth-child(1){
  transform: translateY(10px) rotate(130deg);
}
.hamburger-active span:nth-child(2){
  display: none;
}
.hamburger-active span:nth-child(3){
  transform: translateY(0px) rotate(-130deg);
}
.mobile-nav{
  position: fixed;
  top: 80px;
  right: -100%;
  padding: 40px;
  backdrop-filter: blur(12px);
  z-index: 30;
  transition: all 0.5s;
  background-color: #0a0a0a55;
}
.show-mobile-nav{
  right: 0;
}
.sectionTitle{
  font-size: 36px;
  text-align: center;
  margin: 12px 0;
}
.sectionTitle span{
  color: var(--main-color);
}
.sectionSubtitle{
  font-size: 18px;
  text-align: center;
  opacity: 0.8;
  margin-top: 16px;
  margin-bottom: 40px;
}
.serviceBox svg{
  transition: all 0.3s;
}
.serviceBox:hover svg{
  transform: scale(1.10);
}